.header {
    width: 100%;
    height: 50px;
    background-color: black;
    /* background-image: linear-gradient(#2C0010,#540042); */
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.52);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.52);
    box-shadow: 0 0 12px rgba(0,0,0,0.52);
}

.logoContainer {
    height: 100%;
    display: flex;
    align-items: center;
}


/* .section {
} */


.backbtnContainer {
    width: fit-content;
    height: 100%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.logoHeading {
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 5px;
    letter-spacing: 0.8px;
}

.btnContainer{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0px;
    /* background-color: red; */
}

.btn {
    width: 45%;
    margin-bottom: 10px;
    padding: 12px 0px;
    border: none;
    /* border:2px solid #FFCC66; */
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    height: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    background-color: #ffdb93;

}

.btn > h3 {
    font-size: 14px;
    font-weight: 500;
    
}

.dropdownContainer {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
}

.dropDowmain {
    width: 50%;
    height: 100%;
    padding: 10px 5px;
    border-radius: 3px;
    margin: 10px 0px 0px 0px;
    color: #404040;
    letter-spacing: 0.5px;
    font-weight: 600;
    border: 1px solid #f9cf7a;
}

.dropDowItem {
    color: #404040;
    font-weight: 500;
    padding: 10px 5px;
    background-color: #f8e7c4;
    color: #000000;
    letter-spacing: 1px;


}

.dropDowItem:hover {
    background-color: #404040;
    color: #FFFFFF;

}

.insidemainContainer {
    position: absolute;
    top: 60px;
    width: 100%;
}

.Image {
    margin-bottom: 20px;
}

.bgContainer {
    background-image: url("/images/seamless-pattern-with-sewing-and-tailoring-stuff-sewing-machine-scissors-sewing-and-other-handicrafts-items-free-vector55-6-Copy.jpg");
    background-size: 180px;
}