html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(158, 157, 157); 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #202020; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #101010; 
}

