.childrenContainer {
    height: 80vh;
    margin: 0;
    padding: 0;
}


.footerContainer {
    background-color: #FFCC66;
    width: 100%; 
    height: 50px;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footerContainerWrapper {
    width: 84%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerIconContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.footerIconContainer > svg {
    width: 20px;
    height: 20px;
}