
.mainContainer {
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: 0 auto;
}

.mainContainer > h1 {
    font-size: 1.5rem;
    color: #404040;


}
.mainContainer > ul {
    list-style: none;
    width: 100%;
    padding: 0;
    padding-top: 130px;
}

.mainContainer > ul > li {
    width: 100%;
    border: 1px solid #d5d5d5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.04);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.04);
    box-shadow: 0 0 12px rgba(0,0,0,0.04);
    width: 94%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;

}

.mainContainer > ul > li:hover {
    background-color: #F1F1F1;
}

.inliContainer div >  h4 {
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inliContainer div >  p {
    margin: 5px 0px;
    color: #404040;
    letter-spacing: 0.4px;    
}


@media screen and (max-width: 750px) {
    .inliContainer {
        width: 90%;
        margin: 0 auto;
    }
    

}