.navContainer {
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.headingContainer {
    width: fit-content;
    height: fit-content;
    padding: 10px 5px;

}

.headingContainer {
    font-size: 0.4rem;
    font-weight: 500;
}

.link {
    font-size: 14px;
    font-weight: 400;
    color: #fff9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    letter-spacing: 1px;
}

.link > span {
    margin-right: 5px;
}

.span > svg {
    width: 20px;
    height: 20px;

}